* {
  box-sizing: border-box;
}
.cf::after {
  /* content: ""; */
  /* display: table; */
  /* clear: both; */
}
body {
  background: url(../img/world-map.png) no-repeat;
  height: 100%;
}
.container {
  display: inline-block;
  position: relative;
  width: 1875px;
  height: 1000px;
}

.fox {
  position: absolute;
  top: 5%;
  left: 32%;
}

.quokka {
  position: absolute;
}
.red-panda {
  position: absolute;
}

.seal {
  position: absolute;
}

.wombat {
  position: absolute;
}

.wren {
  position: absolute;
}

.otter {
  position: absolute;
}


.quokka {
  position: absolute;
  bottom: 2%;
  right: 14%;
}
.red-panda {
  position: absolute;
  top: 5%;
  left: 76%;
}

.seal {
  position: absolute;
  bottom: -28px;
  left: 38%;
}

.wombat {
  position: absolute;
  bottom: 3%;
  right: -2%;
}

.wren {
  position: absolute;
  left: 18%;
  top: 30%;
}

.otter {
  position: absolute;
  top: 39%;
  left: 3%;
}
